<!-- :main -->
<!-- if: ${mode} === 'view' -->
    <!-- import: view -->
<!-- else: -->
    <!-- import: edit -->
<!-- /if -->

<!-- :edit -->
<header class="${.header} ${.header-edit}">
    <esui-text-box es-value="form.title" data-ui-width="auto" on-change="sync('title', $event.target)"></esui-text-box>
    <esui-calendar es-raw-value="form.dueDate" on-change="sync('dueDate', $event.target)"></esui-calendar>
</header>
<div class="${.content} ${.content-edit}">
    <esui-text-box
        data-ui-mode="textarea"
        data-ui-width="auto"
        es-value="form.content"
        on-change="sync('content', $event.target)">
    </esui-text-box>
</div>
<footer class="${.footer} ${.footer-edit}">
    <esui-button class="${.action}" on-click="cancel">
        <i class="ui-icon ui-icon-times"></i>
        取消
    </esui-button>
    <esui-button class="${.action}" on-click="save">
        <i class="ui-icon ui-icon-save"></i>
        保存
    </esui-button>
</footer>

<!-- :view -->
<header class="${.header}">
    <h3 class="${.title}">${todo.title}</h3>
    <!-- if: ${todo.dueDate} -->
    <time class="${.due-date}" datetime="${*todo.dueDate | date}">截止：${*todo.dueDate | date}</time>
    <!-- /if -->
</header>
<div class="${.content}">${todo.content | markdown}</div>
<footer class="${.footer}">
    <!-- if: ${todo.completed} -->
    <span class="${.hint}">已完成</span>
    <!-- else: -->
    <esui-button class="${.action}" on-click="fire('complete')">
        <i class="ui-icon ui-icon-check"></i>
        完成
    </esui-button>
    <esui-button class="${.action}" on-click="edit">
        <i class="ui-icon ui-icon-edit"></i>
        编辑
    </esui-button>
    <!-- /if -->
    <esui-button class="${.action}" on-click="fire('remove')">
        <i class="ui-icon ui-icon-trash"></i>
        删除
    </esui-button>
</footer>
