<!-- :main -->
<!-- for: ${datasource} as ${item}, ${index} -->
<esui-todo-card
    es-todo="datasource.${index}"
    on-remove="fire('remove', {todo: $event.target.todo})"
    on-complete="fire('complete', {todo: $event.target.todo})"
    on-save="fire('save', {todo: $event.todo})">
</esui-todo-card>
<!-- /for -->
<!-- if: ${createNew} -->
    <esui-todo-card
        data-ui-mode="edit"
        on-save="fire('create', {todo: $event.todo})"
        on-cancel="fire('cancel')">
    </esui-todo-card>
<!-- else: -->
    <esui-button class="${.create-todo}" on-click="fire('new')"><i class="ui-icon ui-icon-plus"></i></esui-button>
<!-- /if -->
